@font-face { font-family: PublicoText; src: url('Publico/PublicoText-Roman.otf'); } 
@font-face { font-family: PublicoText; font-weight: bold; src: url('Publico/PublicoText-Bold.otf');}

.logo{
  position: fixed; 
  left: 6vw; 
  top: 10vh;
}
.banaag1{
  position: fixed; left: 6vw; top: 10vh;
}
.covid {
    /* The image used */
    /*background-image: url('sources/Concept\ 1.png');*/
    position: fixed;
    /*width: 30.03vw;
    height: auto;*/
    width: auto;
    height: 70vh;
    right: 10%;
    top: 20%;
  
  
    /* Create the parallax scrolling effect */
    /*background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
}

.nav-title{
  position: absolute;
  font-family: PublicoText;
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  line-height: 1em;
  margin-left: 4em;
  margin-top: 1em;
  
  letter-spacing: 0.2em;
  
  color: #CD8054;
}

.nav-bar{
  color: #E7B089; 
  position: fixed; 
  left: 25vw; 
  top: 10vh; 
  align-self: center;
}

.hdr-title{
  position: relative;
  /*left: 6.88%;
  top: 42.92%;*/
  margin-left: 6%;
  
  font-family: PublicoText;
  font-style: normal;
  font-weight: bold;
  /*font-size: 80px;
  line-height: 80px;*/
  font-size: 5em;
  line-height: 1em;
  letter-spacing: 0.3em;
  
  color: #FFFFFF;
}
.hdr-sub{
  position: relative;
  /*left: 8.44%;
  top: 55.28%;*/
  margin-left: 8%;

  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  /*font-size: 20px;
  line-height: 24px;*/
  font-size: 1.2em;
  line-height: 1.2em;

  /* identical to box height */


  color: #FFFFFF;

}

.bdy-txt{
  position: relative;
  
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 1.3em;
  line-height: 1.5em;
  left: 6%;

  color: #FFFFFF;
}

.bdy-title{
  position: relative;

  font-family: PublicoText;
  font-style: normal;
  font-weight: normal;
  font-size: 3em;
  line-height: 1em;
  margin-bottom: 5vh;
  left: 6%;

  color: #FFFFFF;
}
.bdy-gdlns{
  position: relative;

  font-family: PublicoText;
  font-style: normal;
  font-weight: normal;
  font-size: 3em;
  line-height: 1em;
  left: 6%;

  color: #FFFFFF;
}

.bdy-txt2{
  position: relative;
  
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 1.5em;
  line-height: 1.5em;
  left: 6%;

  color: #FFFFFF;
  margin-top: 3em;
  margin-bottom: 5vh;
}
.bdy-title2{
  position: relative;

  font-family: PublicoText;
  font-style: normal;
  font-weight: normal;
  font-size: 3em;
  line-height: 1em;
  color: #FFFFFF;
  margin-bottom: 20vh;
  left: 6%;

  
}



li{
  margin-bottom: 0.5em;
}


.btn-sbmt {
  display: inline-block;
  margin-bottom: 0;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  font-size: 0.8em;
  line-height: 1.42857143;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #E7B089;
  background-color: #233342;
  border: 2px solid #E7B089;
  /*border-color: #E7B089;*/
}
.btn-sbmt:focus,
.btn-sbmt:active:focus,
.btn-sbmt.active:focus,
.btn-sbmt.focus,
.btn-sbmt:active.focus,
.btn-sbmt.active.focus {
  outline: 0px auto -webkit-focus-ring-color;
  outline-offset: 0px;
}
.btn-sbmt:focus,
.btn-sbmt.focus {
  color: #233342;
  background-color: #E7B089;
}
.btn-sbmt:hover {
  color: #233342;
  background-color: #E7B089;
}
.btn-sbmt:active,
.btn-sbmt.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 0 1em rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 0 1em rgba(0, 0, 0, 0.125);
}

.btn-sbmt:active,
.btn-sbmt.active,
.open > .dropdown-toggle.btn-sbmt {
  color: #233342;
  background-color: #E7B089;
}

.dot {
  top: 30vh;
  left: 6vw;
  margin-left: 0.5em;
  position: fixed;
  height: 2vh;
  width: 2vh;
  background-color: #233342;
  border-radius: 100%;
  border: 2px solid #E7B089;
  display: inline-block;
  cursor: pointer;
}
/*.is-selected{
  background-color: red;
}*/
.is-selected {
  animation: anim_s 1s;
  animation-fill-mode: forwards;
}
.is-deselected {
  animation: anim_d 1s;
  animation-fill-mode: forwards;
}

@keyframes anim_s {
  from {}
  to {background-color: #E7B089;}
}
@keyframes anim_d {
  from {background-color: #E7B089;}
  to {}
}


.scrll_arrw{
  position: fixed;
  top: 85vh;
  left: 6vw;
}
.arrow{
  position: relative;
  width: 0; 
  height: 0; 
  border-left: 1em solid transparent;
  border-right: 1em solid transparent;
  
  border-top: 1em solid #E7B089;
}

.scrll{
  position: relative;
  padding-bottom: 0.5em;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 0.9em;
  color: #E7B089;
}

.bounce {
  animation-iteration-count: infinite;
  animation-duration: 1.5s;
  animation: bounce 3.6s ease infinite;
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  5.55556% {
    transform: translateY(0);
  }
  11.11111% {
    transform: translateY(0);
  }
  22.22222% {
    transform: translateY(-10px);
  }
  27.77778% {
    transform: translateY(0);
  }
  33.33333% {
    transform: translateY(-10px);
  }
  44.44444% {
    transform: translateY(0);
  }
  100% {
    transform:  translateY(0);
  }
}
._line{
  height:2.5em;
  border-bottom: 0.1em solid #E7B089;
  top: 10vh;
  position: fixed;
  /*width: 3.2em;*/
  /*width: 3.5em;*/
  /*width: 3.6em;*/
  /*width: 6.6em;*/
  /*width: 4.2em;*/
}
._line0{
  height:2.5em;
  border-bottom: 0.1em solid #E7B089;
  top: 10vh;
  position: fixed;
  /*width: 3.2em;*/
}
._line1{
  height:2.5em;
  border-bottom: 0.1em solid #E7B089;
  top: 10vh;
  position: fixed;
  /*width: 3.5em;*/
}
._line2{
  height:2.5em;
  border-bottom: 0.1em solid #E7B089;
  top: 10vh;
  position: fixed;
  /*width: 3.6em;*/
}
._line3{
  height:2.5em;
  border-bottom: 0.1em solid #E7B089;
  top: 10vh;
  position: fixed;
  /*width: 6.6em;*/
}
._line4{
  height:2.5em;
  border-bottom: 0.1em solid #E7B089;
  top: 10vh;
  position: fixed;
  /*width: 4.2em;*/
}

@media screen and (max-width: 1081px) {
  .row {
    justify-content: center; 
    margin-left: 0;
  }
  .logo{
    top: 5vh;
  }
  .nav-bar{
    display: none;
  } 
  .banaag1{
    position: fixed;
    top: 5vh;
  }
  .covid{
    position:absolute;
    top: 30%;
    justify-self: center;
    width: 70vw;
    height: auto;
  }
  .hdr-title{
    justify-content: center; 
    top: 20%;
    margin-left: 0%;
    font-size: 2.8em;
    letter-spacing: 0.2em;
  }
  .hdr-sub{
    justify-content: center;
    top: 20%;
    margin-left: 15%;
    font-size: 0.5em;
    letter-spacing: 0.2em;
  }
  .container{
    justify-content: center;
    margin-left: 20vw;
  }
  .bdy-title{
    font-size: 2em;
  }
}
