@font-face { font-family: PublicoText; src: url('../Publico/PublicoText-Roman.otf'); } 
@font-face { font-family: PublicoText; font-weight: bold; src: url('../Publico/PublicoText-Bold.otf');}


input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 5em #1c2936 inset !important;
    transition: background-color 5000s ease-in-out 0s;
}
input:-webkit-autofill {
    -webkit-text-fill-color: white !important;
}

/*body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}*/

.logo{
    position: fixed; 
    left: 6vw; 
    top: 10vh;
}
.banaag1{
    position: fixed;
    font-family: PublicoText;
    font-style: normal;
    font-weight: 500;
    font-size: 1em;
    line-height: 1em;
    margin-left: 4em;
    margin-top: 1em;
    letter-spacing: 0.2em;
    color: #E7B089;
    position: fixed; left: 6vw; top: 10vh;
}
.covid {
    position: fixed;
    width: auto;
    height: 70vh;
    right: 10%;
    top: 20%;
}
.title{
    font-family: PublicoText; font-size: 3em; color:#fff;
}

  

/* Add styles to the form container */
.form-container {
    position: fixed;
    left: 8vw;
    top: 10vh;
    /*border: 3px solid red;*/
    margin-top: 10vh;
}

.f_container {
    position: relative;
    background-color: none;
    margin-top: 1em;
    width: 100%;
}

/* Full-width input fields */
.form-container input[type=text], .form-container textarea, .form-container input[type=email], .form-container select {

    width: 100%;
    padding-left: 1em;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0.5em;
    /*border-bottom: 0.05em solid white;*/
    color: white;
    background-color: #1c2936;
    /*background-color: #233342;*/
    box-sizing: border-box;
    /*margin-top: 2px;
    margin-bottom: 10px;*/
    resize: vertical;
    border-radius: 0.3em;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=email]:focus, select:focus {
    background-color: #304659;
    /*background-color: #304659;*/
    outline: none;
}

.f_line{
    left: 0;
    /*top: 49px;*/
    bottom: 0px;
    height: 0.1em;
    /*width: 94.8%;*/
    border-bottom: 0.2em solid #E7B089;
    border-radius: 0 0 0.3em 0.3em;
    position: absolute;
    z-index: 1;
    
}


input[type=submit] {
  /*background-color: #E7B089;
  color: #000;*/
  background-color: #E7B089;
  color: #000;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  width: 100%;
  height: 3.5em;
  border: none;
  border-radius: 0.3em;
  cursor: pointer;
  margin-top: 2em;
  margin-left: 0em;
}

input[type=submit]:hover {
  /*background-color: #17212b;*/
  background-color: #ba8d6e;
}


.dropdown_item{
    color: white;
}

.upload_file{
    background-color: none;
    color: white;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;    
    width: 10em;
    height: 2.5em;
    line-height: 2.25em;
    /*border: 0.05em solid #233342;*/
    border: 0.05em solid white;
    border-radius: 0.3em;
    cursor: pointer;
    margin-top: 0.5em;
    margin-left: 0em;
    font-size: smaller;
}
.upload_file:hover{
    background-color: #1b2733;
    color: white;
}
.output_list{
    font-size: smaller;
    margin-bottom: 1em;
    margin-left: 0.5em;
    color: white;
}

input:focus ~ .floating-label,
input:not(:focus):valid ~ .floating-label{
  top: 5px;
  left: 15px;
  opacity: 1;
  font-size: x-small;
}

.floating-label {
  position: absolute;
  pointer-events: none;
  left: 1em;
  top: 1em;
  transition: 0.2s ease all;
  color: #969696;
}



@media screen and (max-width: 1081px) {
    .logo{
        top: 5vh;
    }
    .banaag1{
        position: fixed;
        top: 5vh;
    }
    .title{
        font-size: 2.5em;
        line-height: 2em;
        padding-left: 0em;
    }
    .covid{
        position:absolute;
        top: 13%;
        right: auto;
        left: auto;
        text-align: center;
        width: 70vw;
        height: auto;
        margin-left: 10%;
        margin-right: 10%;
    }
    .form-container {
        right: auto;
        left: auto;
        text-align: center;
        top: 39vh;
    }
    .buttons{
        text-align: left;
    }
    input[type=submit] {
        margin-top: 2.8em;
        width: 100%;
    }
    .upload_file{
        line-height: 2.5em;
    }

}



