@font-face { font-family: PublicoText; src: url('../Publico/PublicoText-Roman.otf'); } 
@font-face { font-family: PublicoText; font-weight: bold; src: url('../Publico/PublicoText-Bold.otf');}


body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #fff;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #fff;
}


.logo{
    position: fixed; 
    left: 6vw; 
    top: 10vh;
}
.banaag1{
    position: fixed;
    font-family: PublicoText;
    font-style: normal;
    font-weight: 500;
    font-size: 1em;
    line-height: 1em;
    margin-left: 4em;
    margin-top: 1em;
    letter-spacing: 0.2em;
    color: #E7B089;
    position: fixed; left: 6vw; top: 10vh;
}
.covid {
    position: fixed;
    width: auto;
    height: 70vh;
    right: 10%;
    top: 20%;
}
.title{
    font-family: PublicoText; font-size: 3em; color:#fff; padding-left: 0.3em;
}

input[type=submit] {
  /*background-color: #E7B089;
  color: #000;*/
  background-color: #E7B089;
  color: #000;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  width: 100%;
  height: 3.5em;
  border: none;
  border-radius: 0.3em;
  cursor: pointer;
  margin-top: 2em;
  margin-left: 0em;
}

input[type=submit]:hover {
  /*background-color: #17212b;*/
  background-color: #ba8d6e;
}

.upload_file{
    background-color: none;
    color: white;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;    
    width: 10em;
    height: 2.5em;
    line-height: 2.25em;
    /*border: 0.05em solid #233342;*/
    border: 0.05em solid white;
    border-radius: 0.3em;
    cursor: pointer;
    margin-top: 0.5em;
    margin-left: 0em;
}
.upload_file:hover{
    background-color: #1b2733;
    color: white;
}
.output_list{
    font-size: smaller;
    margin-bottom: 1em;
    margin-left: 0.5em;
    color: white;
}


.f_container {
  border-radius: 5px;
  background-color: none;
  padding-bottom: 1em;
}


.forms {
    display: block;
    position: fixed;
    left: 10vw;
    top: 10vh;
    /*border: 3px solid red;
    background-color: white;*/
    z-index: 9;
    width: 100vw;
    height: auto;
}

/* Add styles to the form container */
.form-container {
    max-width: 100vw;
    justify-self: center;
    margin-top: 10vh;
    border-radius: 1%;
}

/* Full-width input fields */
.form-container input[type=text], .form-container select, .form-container textarea, .form-container input[type=email] {

    width: 100%;
    padding: 0.5em;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0.05em solid white;
    color: white;
    background-color: #233342;
    box-sizing: border-box;
    /*margin-top: 2px;
    margin-bottom: 10px;*/
    resize: vertical;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=email]:focus, select {
    background-color: #233342;
    outline: none;
}

@media screen and (max-width: 1081px) {
    .logo{
        top: 5vh;
    }
    .banaag1{
        position: fixed;
        top: 5vh;
    }
    .title{
        font-size: 2.5em;
        line-height: 2em;
        padding-left: 0em;
    }
    .covid{
        position:absolute;
        top: 13%;
        right: auto;
        left: auto;
        text-align: center;
        width: 70vw;
        height: auto;
        margin-left: 10%;
        margin-right: 10%;
    }
    .forms {
        right: auto;
        left: auto;
        text-align: center;
        top: 39vh;
    }
    .buttons{
        text-align: left;
    }
    input[type=submit] {
        margin-top: 2.8em;
        width: 100%;
    }
    .upload_file{
        line-height: 2.5em;
    }

}



